@page
@model OnlineCinema.Web.Pages.FilmModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Film";
}

@if (Model.Film != null)
{ 
    <div class="display-1">
        <h1>@Model.Film.Title</h1>
    </div>

    <div class="annotation">
        <p1>@Model.Film.Annotation</p1>
    </div>

    <div class="film-block">
        <div class="film-information">
            <div class="film-information-item">
                <h2>Информация</h2>
                <ul>
                    <li>Категория: @Model.Film.Category</li>
                    <li>Дата выхода: @Model.Film.ReleaseDate.ToString("d MMMM yyyy")</li>
                    <li>Возрастной рейтинг: @Model.Film.AgeRestriction</li>
                </ul>
            </div>
            <div class="film-information-item">
                <h2>Жанры</h2>
                <ul>
                    @foreach (var genre in Model.Genres)
                    {
                        <li>
                            <a asp-page="/Genre" asp-route-id="@genre.Id" asp-route-name="@genre.Name">@genre.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="film-information-item">
                <h2>@Model.Film.MiddleRating.ToString("0.00")★</h2>
                <p1>Оценок: @Model.Film.RatingAmount</p1>
            </div>
            <div class="film-information-item">
                <h2>Приобретение</h2>
                <ul>
                    <li>Покупка: @Model.Film.PurchasePrice р.</li>
                    <li>Аренда: @Model.Film.RentalPrice р. на @Model.Film.RentalDuration ч.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h2>Производство</h2>
        <div class="card-line">
            @foreach (var production in Model.Productions)
            {
                <div class="card">
                    <div class="card-header">
                        <p1>@production.Person.Name</p1>
                    </div>
                    <div class="card-body">
                        <p1>@production.Post.Name<p1>
                    </div>
                </div>
            }
        </div>
    </div>
}
else 
{
<div class="display-1">
    <h1>Что-то пошло не так</h1>
</div>
}
